.timagens{
    height: 200px;
    width: 200px;

}.fundo{
    background-color: black;
   ;
 }
 .letras{
     color: white;
    
 }
  .centro{ 
    text-align: center;
   borde: 10px solid white; height: 10px;
  }



 